# Visual Studio
.vs/
/upflux-webservice/publish
*.user
*.suo
*.userosscache
*.userprefs

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa]rm/
[Aa]rm64/
bld/
[Bb]in/
[Oo]bj/

# .NET
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Visual Studio Code
.vscode/
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
.vscode/*.code-workspace

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# MacOS
.DS_Store

# Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Node.js
node_modules/

# Logs
*.log

# IDE config
*.idea/
*.iml

# Package directories
*.nuget/
packages/
/upflux-webservice/Upflux-WebService/logs
/Upflux-GatewaySimulator/Upflux-GatewaySimulator/ReceivedPackages
/upflux-webservice/Upflux-WebService/appsettings.json
/Upflux-GatewaySimulator/Upflux-GatewaySimulator/Available
/Upflux-GatewaySimulator/Upflux-GatewaySimulator/Current
/Upflux-GatewaySimulator/Upflux-GatewaySimulator/ScheduledUpdates