.hero-image {
    position: relative;
    width: 100%;
    height: calc(100vh - 80px); 
    max-height: 700px;
    overflow: hidden;
  }
  
  .hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7; 
  }
  
  /* Overlay for the text */
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
    padding: 20px;

  }
  
  /* Text container styles */
  .text-container {
    color: #333;
    margin-right: 250px;
  }
  
  .text-container h1 {
    font-size: 2.5em; 
    margin-bottom: 10px; 
  }
  
  .text-container p {
    font-size: 1.2em; 
  }
  
  /* Button styles */
  .learn-more-btn {
    background-color: #2F3BFF; 
    color: #fff; 
    border: none; 
    border-radius: 4px; 
    padding: 10px 20px;
    font-size: 1em; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    margin-top: 15px; 
    text-decoration: none;
  }
  
  .learn-more-btn:hover {
    background-color: #1d2aa0; 
  }

  @media (max-width: 768px) {

    .text-container {
      margin-right: 0; 
    }

  }

.text-container{
/* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
padding: 20px;
padding-bottom:55px;
  }