.get-engineer-token-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form-stack {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .form-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .input-field {
    width: 100%;
  }
  
  .submit-button {
    width: 100%;
  }
  
  .token-display {
    margin-top: 20px;
    font-size: 16px;
    color: green;
    word-break: break-word;
  }
  
  .error-message {
    margin-top: 20px;
    font-size: 16px;
    color: red;
  }

.admin-parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 64px;
    height: 100vh;
    padding: 36px;
}

.admin-parent > * {
    padding: 20px;
}