.password-settings-content {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 50px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  min-height: calc(80.2vh - 100px); 
  display: flex;
  flex-direction: column;
  
}
  
  .instructions {
    font-size: 16px;
    margin-bottom: 15px;
    margin-top:30px;
    color: #6c757d;
    border-top: 1px solid #ccc; 
    padding-top: 20px;
    margin-top:-21px;
    margin-bottom: 40px;
  }
  
  .input-field label {
    font-weight: 500;
  }
  
  /*Styling for update & cancel button container*/
  .button-group {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
  }
  
  .cancel-button {
    color: #6c757d;
    background: none; 
    border: none; 
    font-size: 16px; 
    cursor: pointer; 
  }
  
  .cancel-button:hover {
    color: #000000;
  }
  
  
  .update-button {
    background-color: #2f3bff;
    color: white;
    font-weight: bold;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .update-button:hover {
    background-color: #1558b3;
  }
  
  .input-field input {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    margin-bottom: 30px;
    width: 90%;
    margin-top:12px;
  }
  
  .label-required {
    color: red;
    font-weight: bold;
  }
  
  /* Buttons Styling */
  .setting-selector {
    margin-bottom: 4px;
  }
  
  .selector-button {
    font-size: 16px;
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid transparent;
    transition: all 0.3s ease;
    color: #000;
  }
  
  .selector-button.active {
    border-bottom: 3px solid #000000; 
    font-weight: bold;
    margin-top: 30px;
  }
  
  .selector-button:hover {
    cursor: pointer;
    background-color: #f0f0f0; 
  }
  
  .selector-button[disabled] {
    color: #aaa; 
    cursor: pointer; 
  }
  
  /* Error message styling */
.mantine-TextInput-error {
    color: red;
    margin-top: -15px; 
  }
  