.get-engineer-token-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(84.5vh - 100px); 
    padding: 20px;
  }
  
  .form-stack {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .form-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .input-field {
    width: 100%;
  }
  
  .submit-button {
    width: 100%;
  }
  
  .token-display {
    margin-top: 20px;
    font-size: 16px;
    color: green;
    word-break: break-word;
  }
  
  .error-message {
    color: red;
    text-align: center;
    margin-top: -15px;
    margin-bottom: 15px;
    font-weight: bold; 
}
  
  .file-label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    margin-left: 13px;
}
