.clustering-container {
    padding: 20px;
    color: #333;
    border-radius: 8px;
}

.dropdown-section {
    margin-left: 70px;
    gap: 140px;
}

.dropdown {
    width: 200px;
}

.real-time-switch {
    margin-left: auto;
    margin-right: 330px;
    margin-top: 20px;
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px 0;
}

.cluster-visuals {
    display: flex;
    flex-direction: row;
    gap: 15px;
    position: relative;
    width: 40%;
    height: 250px;
    background: linear-gradient(to bottom, #c9bfbf 1%, transparent 10%);
    background-size: 50px 50px; 
    background-position: 0 0, 0 0;
    z-index: 0;
    margin-left: 50px;
    margin-top: 20px;
}

.cluster-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 1; 
    margin-left: 50px;

}

.small-circle {
    width: 150px;
    height: 150px;
    margin-top: 20px;
}

.large-circle {
    width: 200px;
    height: 200px;
}

.cluster-icon {
    width: 70%;
    height: auto;
}

.calendar {
    margin-top: 0px;
    margin-bottom: auto;
    font-size: 40px;
}

.calendar .mantine-Calendar-day {
    width: 60px;
    height: 60px;
  }

.calendar .mantine-Calendar-calendarHeader {
    margin-left: 100px;
}

.calendar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 32%;
    height: 530px;
    margin-top: 20px;
    margin-right: 170px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.network-upload {
    margin-left: 50px;
    margin-top: -290px;
    margin-bottom: 40px;
    text-align: center;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 40%;
}

.chart-svg {
    margin: 10px;
    width: 90%;
    height: 90%;
}

.data-label{
    transform: rotate(-90deg);
    transform-origin: center;
    white-space: nowrap;
    position:relative;
    top: 90px;
    right: 48%;
}

.time-label{
    margin-left: 255px;
}

@media (max-width: 1200px) {

    .cluster-visuals{
        margin-top: -150px;
    }

    .network-upload{
        margin-top: -280px;
    }

    .calendar .mantine-Calendar-day {
      width: 40px;
      height: 40px;
    }

    .real-time-switch {
        margin-top: -300px;
    }

    .calendar-wrapper {
        margin-top: -130px;
    }

    .calendar .mantine-Calendar-calendarHeader {
        margin-left: 50px;
    }

  }

  @media (max-width: 480px) {
    .calendar .mantine-Calendar-day {
      width: 30px;
      height: 30px;
    }
  }