.submit-request {
    background-color: #1E2ADF !important;
  }

  .input-label{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  .input-field-box{
    margin-top: 60px;
  }

  .request-error-message-container{
    position: relative;
    height: 20px; 
  }

  .request-error-message {
    position: absolute; 
    top: 25px;
    left: 0;
    right: 0;
    color: red;
    text-align: center;
    font-weight: bold;
    display: none; /* Hide by default */
}

.request-error-message.active {
    display: block; /* Show only when there's an error */
}
